name: Update

on:
  push:
  schedule:
    - cron: 13,42 * * * *

  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch:
    name: Fetch stats card img
    runs-on: ubuntu-slim
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          check-latest: true
          cache: 'pnpm'
      - run: pnpm i
      - run: pnpm run download
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # base options: username=sukkaw&show_icons=true&hide_border=true&include_all_commits=true&hide_title=true&count_private=true&rank_icon=percentile&show=reviews,prs_merged
      # light options: icon_color=586069&title_color=60696f
      # dark options: icon_color=60696f&title_color=8d939d&bg_color=1f2228&text_color=8d939d
      - name: Generate light stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=sukkaw&show_icons=true&hide_border=true&include_all_commits=true&hide_title=true&count_private=true&rank_icon=percentile&show=reviews,prs_merged&icon_color=586069&title_color=60696f
          path: public/light.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate dark stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=sukkaw&show_icons=true&hide_border=true&include_all_commits=true&hide_title=true&count_private=true&rank_icon=percentile&show=reviews,prs_merged&icon_color=60696f&title_color=8d939d&bg_color=1f2228&text_color=8d939d
          path: public/dark.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true
          force_orphan: true
          publish_branch: dist
